.App {
  text-align: center;
}

.header {
  margin: 0;
  width: 100vw;
  position: relative;
  top: 10rem;
}

h1 {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  /* font-family: 'Baloo Bhaina', cursive; */
  /* font-family: 'Baloo Chettan', cursive; */
  /* font-family: 'Baloo Da', cursive; */
  /* font-family: 'Baloo Da', cursive; */
}

#secondHeader {
  position: relative;
  left: 4rem;
}

button {
  position: relative;
  top: 20rem;
}

