.container {
    text-align: center;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    top: 7em;
  }
  
  .upperCards, .lowerCards {
    display: flex;
    width: 45%;
    margin: 0 auto;
    justify-content: center;
  }

  button {
      width: 225px;
      text-align: center;
      border-style: none;
      margin-right: 2em;
      padding: 0;
  }

  .upperCards {
      padding-bottom: 3%;
  }

  .homeBtn {
    font-family: 'Fredoka One', cursive;
    color: #a5736a;
    font-size: 1.2em;
    margin: 0;
    position: absolute;
    text-align: center;
    padding: 2.8em 0 0 3.3em;
    z-index: 3;
    left: 0;
  }
  
  .homeBtn h2 {
    margin: 0;
  }

  .shuffleBtn {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: #db3e23;
  
    margin: 0 auto;
    
    position: relative;
    top: 2.5em; 
    
    border-radius: 20px;
    background-color: #f4c5bd;
    width: 8em;
    padding: .5em;
  }
  
  .shuffleBtn:hover {
    background-color: #db3e23;
    color: #f4c5bd;
  }
  